.add-btn {
  position: fixed;
  bottom: 7.2rem;
  right: 1.6rem;
  border-radius: 100%;
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
