.app {
  min-height: 100vh;
  background-color: #bbb;
}

.icon {
  width: 2.4rem;
}

.btn-icon {
  border: none;
  background: none;
}

.text-sm {
  font-size: 1.4rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  -webkit-appearance: none;
  appearance: none;
  border: 3px solid #fff;
  border-radius: 3px;
}

input[type="checkbox"]:checked {
  background: #eee;
  border: none;
}

input[type="checkbox"]::before {
  content: "";
}
